<div class="bgcolor">
  <div class="all">
    <%= form_tag(search_tweets_path, local: true, method: :get, class: "search-form") do%>
      <%= text_field_tag :keyword, '',placeholder: "投稿を検索する", class: "search-input" %>
      <%= submit_tag "検索", class: "search-btn" %>
    <% end %>
    <% @tweets.each do|tweet|%>
      <div class="index">
        <div class="index__items">
          <div class="index__items__left">
            <%= link_to user_path(tweet.user_id) do%>
              <img src="<%= tweet.user.image %>">
            <%end%>
          </div>
          <div class="index__items__right">
            <%= link_to tweet.user.name, user_path(tweet.user_id),class:"name" %>
            <%= link_to tweet.text, tweet_path(tweet.id),class:"content" %>
          </div>
        </div>
      </div>
    <%end%>
  </div>
</div>