<div class=bgcolor>
  <div class="showtweet">
    <div class="showtweet__box">
      <div class="showtweet__box__inside">
        <img src="<%= @tweet.user.image%>",class="image">
        <%= link_to @tweet.user.name, user_path(@tweet.user.id),class:"name" %>
      </div>
      <div class="showtweet__box__content">
        <%= @tweet.text %>
        <p><%= @tweet.created_at %></p>
      </div>
      <div class="showtweet__box__bottom">
      <%if @current_user %>
      <% if Like.find_by(user_id: @current_user.id, tweet_id: @tweet.id) %>
        <%= link_to("/likes/#{@tweet.id}/destroy", {method: "post"}) do %>
          <span class="fa fa-heart like-btn-unlike"></span>
        <% end %>
      <% else %>
        <%= link_to("/likes/#{@tweet.id}/create", {method: "post"}) do %>
          <span class="fa fa-heart like-btn"></span>
        <% end %>
      <% end %>
      <%= @likes_count %>
      <%end%>
        <div class=" showtweet__box__bottom__list">
        <% if user_signed_in? && @current_user.id == @tweet.user.id %>
          <%= link_to "編集", edit_tweet_path,class:"edit"%>
          <%= link_to "削除", tweet_path(@tweet.id), data: { confirm: "本当に削除しますか？" },class:"edit", method: :delete %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="showcomment">
    <div class="showcomment__inside">
      <% if @current_user %>
        <%= form_for @comment, url:tweet_comments_path(@tweet.id),html: { class: "showcomment__inside__form" } do |f| %>
          <%= f.text_area :comment, placeholder: "コメントする", rows: "2",class:"showcomment__inside__form__area"%>
          <%= f.submit "投稿する",class:"submit" %>
        <% end %>
      <% else %>
        <strong class="nocomment"><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
      <% end %>

        <div class="showcomment__inside__comment">
        <h4>＜コメント一覧＞</h4>
        <% if @comments %>
          <% @comments.each do |comment| %>
            <p>
              <strong><%= link_to comment.user.name, user_path(comment.user.id) ,class:"name"%>：</strong>
              <%= comment.comment %>
            </p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>