<div class="bgcolor">
  <div class="edit">
    <div class="edit__title">
      <h5>アカウント編集</h5>
    </div>
    <div class="edit__form">
      <%= form_for @user,url: user_path(@user.id) do |f| %>
      <div class="edit__form__block">
        <%=f.label :name, class:"edit__form__block__title"%><br/>
        <%=f.text_field :name,class:"edit__form__block__name"%>
        </div>
      <div class="edit__form__block">
        <%=f.label :email, class:"edit__form__block__title"%><br/>
        <%=f.text_field :email,class:"edit__form__block__name"%>
        </div>
        
      <div class="edit__form__block">
        <%=f.label :profile画像, class:"edit__form__block__title"%><br/>
        <%=f.text_field :image,class:"edit__form__block__name"%>
        </div>
      <div class="edit__form__block__submit">
        <%= f.submit "変更する",class:"submit"%>
      </div>
      <% end %>
    </div>
  </div>
</div>