<div class="bgcolor">
  <div class="show">
    <div class="show__user">
      <% if @user.image? %>
        <img src="<%= @user.image %>" class = "icon_image">
      <% else %>
        <img src="/assets/default.png" class = "icon_image" alt="ユーザーアイコン">
      <% end %>
      <h4 class="user_name"><%=@user.name%></h4>
      <p class="user_email"><%= @user.email%></p>
      <%if @current_user.id == @user.id && user_signed_in? %>
      <%= link_to "編集", edit_user_registration_path, class: "user_edit"%>
      <% end %>
    </div>
    <ul class="show__tabs">
      <li class="show__tab"><%= link_to "投稿", user_path(@user.id) %>
      <li class="show__tab active"><%= link_to("いいね!", "/users/#{@user.id}/likes") %></li>
    </ul>
    <ul class=show__insides>
      <% @likes.each do|like|%>
         <% tweet = Tweet.find_by(id: like.tweet_id) %>
      <li class="show__inside show">
        <div class="index">
          <div class="index__items">
            <div class="index__items__left">
            <% if tweet.user.image? %>
              <img src="<%= tweet.user.image %>" class="image">
            <%else%>
              <img src="/assets/default.png" class="icon" alt="ユーザーアイコン">
            <%end%>
            </div>
            <div class="index__items__right">
              <%= link_to tweet.user.name, user_path(tweet.user_id),class:"name" %>
              <%= link_to tweet.text, tweet_path(tweet.id),class:"content" %>
            </div>
          </div>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</div>