<div class="bgcolor">
  <div class="show">
    <div class="show__user">
      <img src="<%= @user.image %>" class = "icon_image">
      <h4 class="user_name"><%=@user.name%></h4>
      <p class="user_email"><%= @user.email%></p>
      <%if @current_user.id == @user.id && user_signed_in? %>
      <%= link_to "編集", edit_user_registration_path, class: "user_edit"%>
      <% end %>
    </div>
    <ul class="show__tabs">
      <li class="show__tab active"><a href="#">投稿</a></li>
      <li class="show__tab"><a href="#">いいね!</a></li>
    </ul>
    <ul class=show__insides>
    <% @tweets.each do|tweet|%>
      <li class="show__inside show">
        <div class="index">
          <div class="index__items">
            <div class="index__items__left">
              <%= link_to user_path(tweet.user_id) do%>
              <img src="<%= tweet.user.image %>">
            <%end%>
            </div>
            <div class="index__items__right">
              <%= link_to tweet.user.name, user_path(tweet.user_id),class:"name" %>
              <%= link_to tweet.text, tweet_path(tweet.id),class:"content" %>
            </div>
          </div>
        </div>
      </li>
      <% end %>
      <% @tweets.each do|tweet|%>
      <li class="show__inside">
        <div class="index">
          <div class="index__items">
            <div class="index__items__left">
              <img src="<%=@user.image %>" class="image">
            </div>
            <div class="index__items__right">
              <p class="name">Yusuke</p>
              <p class="content"><%= tweet.text %></p>
            </div>
          </div>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</div>
