<div class="container">
  <div class="container__block">
    <div class="container__block__icon">
   </div>
    <div class="container__block__title">
      <h2>Twitterにログイン</h2>
    </div>
    <div class="container__block__form">
      <%= form_for @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f| %>
        <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
        <%- end -%>  
          <div class="container__block__form__field">
            <%= f.label :メールアドレス,{class:"title"} %><br />
            <%= f.email_field :email,class:"form1",autofocus: true%>
          </div>
        

          <div class="container__block__form__field">
            <%= f.label :パスワード,{class:"title"} %><br />
            <%= f.password_field :password,class:"form1",autocomplete: "off" %>
          </div>

          <div class="container__block__form__actions">
            <%= f.submit "ログイン" ,class:"submit"%>
          </div>
        <% end %>
      <%= link_to "パスワードを忘れてしまった", new_user_password_path, class:"container__block__form__account" %>
      <%= link_to "アカウント作成", new_user_registration_path, class:"container__block__form__account" %>
    </div>
  </div>
  </div>











