<!DOCTYPE html>
<html>
  <head>
    <title>TweetApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="header">
  <%= link_to root_path,class:"header__icon" do%>
  <i><%=fa_icon 'twitter'%>Twitter</i>
  <% end %>
  <div>
  <% if user_signed_in? %>
    <ul class="menu">
      <li><%= link_to "#{@current_user.name}様",user_path(@current_user.id),class:"menu__post" %></li>
      <li><%= link_to "投稿一覧", root_path,class:"menu__post"%></li>
      <li><%= link_to "新規投稿", new_tweet_path, class:"menu__post"%></li>
      <li><%= link_to "ログアウト", destroy_user_session_path,class:"menu__post",method: :delete %></li>
    </ul>
    <% else %>
    <ul class="menu">
      <li><%= link_to "投稿一覧", root_path,class:"menu__post"%></li>
      <li><%= link_to "ログイン", new_user_session_path ,class:"menu__post"%></li>
      <li><%= link_to "新規登録", new_user_registration_path,class:"menu__post" %></li>
    </ul>
    <% end %>
  </div>
  </div>
    <% if flash[:notice] %>
      <p class="flash_message"><%= flash[:notice] %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
