<!DOCTYPE html>
<html>
  <head>
    <title>TweetApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="header">
  <%= fa_icon 'twitter 2x' ,class:"header__icon" %>
  <div>
    <ul>
      <li>ログイン</li>
      <li></li>
    </ul>
  </div>
  </div>
    <%= yield %>
  </body>
</html>
