<!DOCTYPE html>
<html>
  <head>
    <title>TweetApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="header">
  <a class="header__icon"><%= fa_icon 'twitter'%>Twitter</a>
  <div>
  <% if user_signed_in? %>
    <ul class="menu">
      <li><%= link_to "新規投稿", new_tweet_path, class:"menu__post"%></li>
      <li><%= link_to "ログアウト", destroy_user_session_path,class:"menu__post", method: :delite %></li>
    </ul>
    <% else %>
    <ul class="menu">
      <li><%= link_to "ログイン", new_user_session_path ,class:"menu__post"%></li>
      <li><%= link_to "新規登録", new_user_registration_path,class:"menu__post" %></li>
    </ul>
    <% end %>
  </div>
  </div>
    <%= yield %>
  </body>
</html>
